body{margin:10px;}
table {border-collapse:separate; border-spacing:1px;}

th {

	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	border-top:1px solid #def;
	border-left:1px solid #def;
	border-bottom:1px solid #9ab;
	border-right:1px solid #9ab;
	padding: 4px;
	background: #cde;
}

thead th {
    text-align:center;
    width:85px;
}

tbody th {
    text-align:right;
	width: 180px;
}

tbody td {
	font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-top:1px solid #f0f0f0;
	border-left:1px solid #f0f0f0;
	border-bottom:1px solid #bbb;
	border-right:1px solid #bbb;
	color: #333;
    background:#f7f5f4;
	text-align:right;
}

td.active {
    border:1px solid green;
    background:#cec;
}

p.services {}


#dropArea {
    float:right;
    padding:0;
    margin-left:15px;
    border:4px dotted orange;
    width:162px;
    height:107px;
}

.hoverOn {
    background: #cef url("duck.gif") no-repeat;
}
.hoverOff {
    background: #fff url("duck.gif") no-repeat;
}


h1 {
    margin:0;
	font: bold 18pt Georgia,"Times New Roman",Arial,serif;
}

h3 {
	font: bold 11pt "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#fff;
    padding:2px 0 0 5px;
    background:#369;
    margin:1em 0 0 0;
}

#result {
    font: normal 9pt Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace !important;
    color:#333;
    padding:3px;
    overflow:auto;
    border:2px solid #369;

    background:#f7f5f4;
    line-height:1.2em;
	height:250px;
}

#console {
    width:673px;
}

.log_dbg {
    background:#ccc;
    color:black;
}

.log_result {
    color:#080;
}

.log_method {
    color:#008;
}

.log_start {
    color:#666;
}

.log_end {
    color:#000;
}

.log_error {
    color:#900;
}

.log_time {
    color:#787470;
}

.winner {
    border:2px solid #090;
}