body {
    margin:0;	
    padding:0;
    font-family:georgia;
}

h1,h2,h3,h4 {
    font-family:Arial,sans-serif;
}
ul {padding:0;margin:0;}

dt {
    font-weight:bold;
}
dd {
    margin-left:1em;
    margin-bottom:1em;
}
dt, dd, pre {
    font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;        
}
dl dl {
    border:1px dotted #999;
    padding:1px;
    margin:0 8em 0 2em;
}

dl dl dt span {
    font-weight:normal;
    font-style:italic;
}

dl dl dt {
    background:#8DD5E7;
}

dl dl dd {
    background:#beeaf0;
}

#content {margin:0 40px 0 40px;}

.intro {margin-bottom:35px;}

.intro p {
    font-size:123.1%;
}

#detail {
    margin-top: 2em;
    font-size:116%;
}

#funcintro {
    margin-bottom: 3em;
}

#funcintro p {
    font-size:108%;
}

#detail pre {
    padding:4px; 
    background:#100e0e;	
    color:#81d83b;
}

#detail pre em {
    color:#693;
}


#lists {
    opacity:0;
    /* IE 6 behaving badly */
    visibility:hidden;
    filter: alpha(opacity = 0);
}

#play { 
    margin: 10px; 
    zoom: 1;
}

#play:after { 
    display: block; 
    clear: both; 
    visibility: hidden; 
    content: '.'; 
    height:0;
}

#play ul, #imagewell {
    border: 2px solid #369;
    margin-right: 10px;
    height: 400px;
    float: left;
    padding: 1px;
    position: relative;
    zoom: 1;
}

#imagewell,#imagetext {
    width: 400px;
}


#play ul {
    width: 140px; 
    overflow:auto;
}

#play ul li {
    background-image: none;
    list-style-type: none;
    padding-left: 20px;
    padding: 2px;
    margin: 1px;
    zoom: 1;
    position: relative;
    font-family:verdana;
    font-size:85%;
}

#play ul li.list1 {
    border:1px solid #39a;
    padding-left:15px;
    background:#8DD5E7 url(add.gif) no-repeat 1px 4px;
    cursor: pointer;
}

#play ul li.list2 {
    border:1px solid #bc6;
    padding-left:15px;
    background:#EDFF9F url(trash_can.gif) no-repeat 1px 4px;
    cursor:pointer;
}


#imagetext, #applytext {
    text-align:center;
    color:#369;
    font-family:"trebuchet ms";
}

#applytext {
    margin-top:20px;
    font-size:131%;
}

#imagetext {
    font-size:187%;
    position:absolute;
    top:20px;
    left:0px;
}